*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper{
    display: flex; /*Organiza todos os componentes em linha*/
    align-items: center;/*Alinha os ítens no centro (eixo y)*/
    justify-content: start;/*Alinha os ítens no centro (eixo x). Start alinha da esquerda para a direita*/
    width: 60%;/*tamanho do container*/
    height: 100vh;

}