*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex; /*Organiza todos os componentes em linha*/
    align-items: center; /*Alinha os ítens no centro (eixo y)*/
    justify-content: start; /*Alinha os ítens no centro (eixo x). Start alinha da esquerda para a direita*/
    width: 60%; /*tamanho do container*/
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center; /*Alinha na vertical*/
    justify-content: center; /*Alinha na horizontal*/
    width: 50%;
}

.instagram-phone.img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; /*Coloca um componente em baixo do outro*/
    /*Agora o align-itens está na horizontal e o justify-content está na vertical*/

    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){ /*Seletor que pega os filhos de um elemento. Este pega o filho 1*/
    min-height: 19rem;
} 

.logo-instagram{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /*Para a imágem não exceder o tamanho da div*/
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color:#ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

